@charset "utf-8";
/* CSS Document */

body {
    background-color: #7B2D2D;
}
h1 {
    font-style: normal;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: 400;
    color: #DDA9AA;

}
h2 {
    font-family: alex-brush;
    font-style: normal;
    font-weight: 400;
}
#wrapper {
    margin: auto;
    width: 1000px;
    float: none;
    background-color: #E0AFAF;
}
#banner {
    height: 137px;
    width: 1000px;
}
#main {
    background-color: #B0696A;
    width: 700px;
    float: right;
}

#sideNav {
    background-color: #F4C3C4;
    width: 300px;
    float: left;
}
#footer {
    width: 1000px;
    background-color: #A78F90;
    float: left;
}
